cffi==1.1.2
Flask==0.10.1
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==0.18
peewee==2.6.3
psycopg2cffi==2.7.2
pw-database-url==0.2.0
pycparser==2.14
urllib3==1.11
Werkzeug==0.10.4
wheel==0.24.0
